
/* 登陆页的输入框样式 */
.student-login .el-input__inner {
  height: 60px;
  background-color: #ffffff33 !important;
  border: 1px solid #dcdfe600;
  /* 字体颜色 */
  color: #fff;
}
/* 学生登陆页的错误提示 */
.login_box .el-form-item__error {
  color: #d60d0d;
  font-size: 10px;
  padding-top: 0;
  font-size: 5px;
}

/* 注册页的输入框样式 */
.student-signUp .el-input__inner {
  height: 50px;
  background-color: #ffffff33 !important;
  border: 1px solid #dcdfe600;
  /* 字体颜色 */
  color: #fff;
}
/* 学生注册页的错误提示 */
.signUp_box .el-form-item__error {
  color: #d60d0d;
  font-size: 10px;
  padding-top: 0;
  font-size: 5px;
}